* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 17px;
}
.app-container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header-container {
  width: 100%;
  height: 116px;
  min-height: 80px;
  margin: 0px 26px;
  padding: 20px;
  border-bottom: 2px solid #eeeeee;
  color: #681b98;
}
.header-h {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.header-h > span {
  color: #b45bc3;
  font-size: 0.7em;
}
.header-h + span {
  font-size: 1.3em;
  font-weight: bold;
}
.main-area {
  position: relative;
  width: 100%;
  /* max-width: 42em; */
  height: 100vh;
  margin-top: 30px;
  /* line-height: 1.7;*/
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.main-wrapper{
  margin: 0 30px;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.white-bgr-clr {
  background-color: #fff;
}
.vlt-clr {
  color: #681b98 !important;
}
.vlt-bgr-clr {
  background-color: #681b98;
}
.rs-clr {
  color: #b45bc3 !important;
}
.rs-bgr-clr {
  background-color: #b45bc3 !important;
}
.mid-gray-clr {
  color: #6d6d6f !important;
}
/* .mid-gray-clr {
  color: #6b6b6d !important;
} */

.navbar-container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding-left: 30px;
  width: 100%;
}
.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
  cursor: pointer;
}

.tab-act-uline {
  width: 100%;
  height: 4px;
  justify-self: flex-end;
  margin-top: 20px;
}
.shadow-bottom {
  box-shadow: 0 8px 5px -6px #ccc;
}
.info-grid-container {
  position: relative;
  background-color: #fff;
  height: 100%;

}
.row-grid {
  display: grid;
  grid-template-columns: minmax(250px, 28em) minmax(50px, 6em) minmax(120px, 50em) auto;
  grid-template-rows: 2.5em;
  width: 100%;
}
.row-grid-height{
  grid-template-rows: 3.3em;
}
.column-cell {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #ab47bc;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #eeeeee;
}
.row-cell {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.justify-ctr{
  justify-content: center;
  padding-right: 20px;
}
.top-bottom-brdrs {
  border: 1px solid #eeeeee;
}
.row-main-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  /* min-height: 100px; */
  padding: 1.3em;
}
.main-item-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.expand-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-style: none;
}
.row-item-txt-clr {
  color: #4a4a4a;
  font-size: 20px;
}
.pii-masked-cont{
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}
.pii-true{
  background-color: #320796;
  border: 2px solid #320796;
  
}
.pii-false{
  border: 2px solid #320796;
  color: #320796 !important;
}
.masked-true{
  background-color: #681b98;
  border: 2px solid #681b98;
}
.masked-false{
  border: 2px solid;
  color: #681b98 !important;
}
.type{
  background-color: #cee5ec;
  color: #50a3bd;
}
.name{
  color: #5f5f5f;
  padding: 0 15px;
}
.search-bar-container{
  position: relative;
  width: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.serach-panel{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 1.5em;
}
.search-field {
  font-family: inherit;
  width: 90%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: #535353;
  padding: 7px 0;
  background: transparent;
  margin-left: 20px;
}
.search-field::placeholder {
    color: #757575;
}
  
.search-apply-btn{
  background-color: #803ea8;
  padding: 4px 8px;
  text-align: center;
  width: 12em;
  height: 100%;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  border: none;;
  cursor: pointer;
}
.search-apply-btn:disabled{
  cursor: not-allowed;
  background-color: #757575;
  opacity: 0.65; 
}
.reset-filter{
  color: #803ea8;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.panel-shadow{
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.search-warning-msg {
  margin-bottom: 15px;
  color: #ce0c0c;
  align-self: flex-start;
}
.checkbox-cont{
  width: 10%;
  height: 54%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #eeeeee ;
}
.checkbox-cont input[type='checkbox']{
  margin: 0 10px;
  height: 14px;
  width: 14px;
}
.input-search-cont{
  width: 75%;
}
.mg-t{
  margin-top: 15px;
}
