* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 17px;
}
.app-container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header-container {
  width: 100%;
  height: 116px;
  min-height: 80px;
  margin: 0px 26px;
  padding: 20px;
  border-bottom: 2px solid #eeeeee;
  color: #681b98;
}
.header-h {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.header-h > span {
  color: #b45bc3;
  font-size: 0.7em;
}
.header-h + span {
  font-size: 1.3em;
  font-weight: bold;
}
.main-area {
  position: relative;
  width: 100%;
  /* max-width: 42em; */
  height: 100vh;
  margin-top: 30px;
  /* line-height: 1.7;*/
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.white-bgr-clr {
  background-color: #fff;
}
.vlt-clr {
  color: #681b98 !important;
}
.vlt-bgr-clr {
  background-color: #681b98;
}
.rs-clr {
  color: #b45bc3 !important;
}
.rs-bgr-clr {
  background-color: #b45bc3 !important;
}
.mid-gray-clr {
  color: #6d6d6f !important;
}
/* .mid-gray-clr {
  color: #6b6b6d !important;
} */

.navbar-container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  cursor: pointer;
}
.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  width: 7em;
}

.tab-act-uline {
  width: 100%;
  height: 4px;
  justify-self: flex-end;
  margin-top: 20px;
}
.shadow-bottom {
  box-shadow: 0 8px 5px -6px #ccc;
}
.info-grid-container {
  position: relative;
  background-color: #fff;
  margin: 30px;
  height: 100%;

}
.row-grid {
  display: grid;
  grid-template-columns: minmax(250px, 28em) minmax(50px, 6em) minmax(300px, 50em) auto;
  /*grid-template-rows: 100px;*/
  row-gap: 1fr;
  /* column-gap: 10px; */
  width: 100%;
}
.column-cell {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ab47bc;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #eeeeee;
}
.row-cell {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: bold;
}
.row-main-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  /* min-height: 100px; */
  padding: 1.5em;
}
.main-item-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expand-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.row-item-txt-clr {
  color: #4a4a4a;
  font-size: 20px;
}
